<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 text-center>Informacin</h1>
    <p>ChapinJobs es una aplicación que tiene como objetivo ofrecer y contratar servicios informales, permitiendo a los usuarios una nueva experiencia en la oferta y demanda de servicios jornales </p>
<h1 text-center>Equipo</h1>
<h3>Analistas </h3>
<p>Allan Humberto Choc Solis</p>
<p>1190 - 16 - 11781</p>
<p>Cristopher Alexander Reyes Portillo</p>
<p>1190 - 16 - 3834</p>
<h3>Diseñadores </h3>
<p>Shelby Andrea Rodriguez Bardales</p>
<p>1190 - 16 - 4301</p>
<p>Roger Fernando Arana Lemus</p>
<p>1190 - 16 - 4610</p>
<h3>Programadores </h3>
<p>Jose Andres Sosa Veliz</p>
<p>1190 - 16 - 3518</p>
<p>Harold Fernando Cordón Estrada</p>
<p>1190 - 16 - 8644</p>
<ion-button  expand="full" routerLink="/inicio" >volver</ion-button>
</ion-content>
